{% extends 'base.html.twig' %}

{% block title %}ENI Sorties - Accueil{% endblock %}

{% block body %}

<section class="bg-gray-50 dark:bg-gray-900 flex justify-center py-4">
    <a href="{{ path('admin_add') }}"
       class="font-medium text-primary-600 dark:text-primary-500 hover:underline"
       aria-current="page">Ajouter un utilisateur </a>
    <span class="font-medium text-primary-600 dark:text-primary-500">&nbsp - &nbsp</span>

    <a href="{{ path('admin_import-csv') }}"
       class="font-medium text-primary-600 dark:text-primary-500 hover:underline"
       aria-current="page"> Importer via CSV</a>
</section>

    <section class="bg-gray-50 dark:bg-gray-900 flex justify-center pb-4">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full max-w-6xl">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Pseudo
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Prénom
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Téléphone


                    <th scope="col" class="px-6 py-3">
                        Rôle
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Actif
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% include 'admin/users-list.html.twig' with {'users': users} %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}