{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Accueil</h2>

	{% if app.user %}
		<h3>Bonjour
			{{ app.user.username }}</h3>

		<div class="container">
			<select name="campusId">
				<option value="" disabled selected>Choisissez votre campus</option>
				{% for campus in campuses %}
					<option value={{ campus.id }}>{{ campus.campusName }}</option>
				{% endfor %}
			</select>

			<form id="filter-form">
				<input type="text" id="search" name="name" placeholder="Rechercher une sortie" class="w-full p-2.5 mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
				entre
				<input type="date" id="beginDate" name="beginDate" class="w-full p-2.5 mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
				et
				<input type="date" id="endDate" name="endDate" class="w-full p-2.5 mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
				<div class="flex items-center mb-4">
					<input id="isOrganizer" type="checkbox" name="organizer" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
					<label for="isOrganizer" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sorties dont je suis l'organisateur</label>
					<input id="isSignedIn" type="checkbox" name="signedIn" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
					<label for="isSignedIn" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sorties auxquelles je suis inscrit</label>
					<input id="isNotSignedIn" type="checkbox" name="notSignedIn" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
					<label for="isNotSignedIn" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sorties auxquelles je ne suis pas inscrit</label>
					<input id="isDeadlinePassed" type="checkbox" name="deadline" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
					<label for="isDeadlinePassed" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sorties passées</label>
				</div>

				<button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5">Rechercher</button>
			</form>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Outing_name</th>
						<th>Outing_date</th>
						<th>Registration_deadline</th>
						<th>Slots</th>
						<th>State</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody id="outings-list">
					{% include 'outing/_list.html.twig' with {'outings': outings} %}
				</tbody>
			</table>

			<a href="{{ path('app_outing_new') }}">Create new</a>
		</div>

	{% else %}
		<h3>Bonjour visiteur</h3>
	{% endif %}
{% endblock %}
